In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          1  Sunny

In [4]:
df=pd.read_excel('weather_data.xlsx')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          1  Sunny

In [6]:
weather_data={
    'day':['2017-01-01','2017-01-02','2017-01-03','2017-01-04','2017-01-05','2017-01-06'],
    'temperature':[32,35,28,24,32,31],
    'windpeed':[6,7,2,7,4,1],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

In [7]:
df=pd.DataFrame(weather_data)

In [8]:
df

          day  temperature  windpeed  event
0  2017-01-01           32         6   Rain
1  2017-01-02           35         7  Sunny
2  2017-01-03           28         2   Snow
3  2017-01-04           24         7   Snow
4  2017-01-05           32         4   Rain
5  2017-01-06           31         1  Sunny

In [9]:
weather_data={
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny')
}

In [10]:
df=pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [11]:
weather_data=[
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2107','temperature':35,'windspeed':7,'event':'Sunny'}
]
df=pd.DataFrame(weather_data)

In [12]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2107           35          7  Sunny